
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color-layer: #0B0C10;
    --text-color: #C5C6C7;
    --header-color: #66FCF1;
    --background-color: #45A29E;
    --hover-color: #1F2833;

    --navigation-color: #504f50;
    --primary-color: #92ca66;
    --secondary-color: #00E5FF;
    --font-body: "Roboto", sans-serif;
    --font-heading: proxima-nova, "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
    --font-header: proxima-nova, "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

.landing-top-container {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.landing-top-logo {
    white-space: nowrap;
}
.landing-top-logo a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: var(--font-header);
    transition: 0.3s;
}
.landing-top-logo a span {
    font-size: 25px;
}
.landing-top-logo a:hover {
    cursor: pointer;
    color: var(--hover-color);
}

/* social icon section */

.social-icons-container {
    z-index: 1000;
    white-space: nowrap;
}
.social-icons-container ul {
    list-style: none;
}
.social-icons-container ul li {
    display: inline-block;
}
.social-icons-container ul li a {
    font-size: 20px;
    color: white;
    margin: 0 8px;
    transition: 0.3s;
}
.social-icons-container ul li a:hover {
    cursor: pointer;
    color: var(--hover-color);
}


.landing-page-content-container {
    background-color: black;
    z-index: 10;
}
.landing-page-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
}
.nav-logo img {
    width: 200px;
    z-index: 100000;
    position: sticky;
    top: 30px;
}

.nav-bar-links ul {
    list-style: none;
}
.nav-bar-links ul li {
    display: inline-block;
}
.nav-bar-links ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 570;
    margin-right: 13px;
    transition: 0.3s;
}
.nav-bar-links ul li a:hover {
    cursor: pointer;
    color: var(--header-color);
}
.nav-bar-links ul li a i {
    margin-right: 6px;
}

.link-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.menu-bar {
    margin-left: 20px;
}
.menu-bar a {
    text-decoration: none;
    color: white;
    background-color: var(--background-color);
    padding: 15px 19px;
    font-size: 20px;
}
.menu-bar a:hover {
    cursor: pointer;
    background-color: var(--header-color);
}


/* navigation section */

#navigation {
    background-color: var(--navigation-color);
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: absolute;
    left: 0;
    /* top: 0; */
    bottom: 110%;
    padding-left: 20px;
    padding-bottom: 30px;
    z-index: -1;
    transition: 0.5s;
}

.navigation-content {
    display: flex;
    height: 100vh;
    align-items: center;
}
.navigation-display {
    padding-top: 110px;
}
.navigation-header {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 30px;
}
.navigation-link ul {
    list-style: none;
    line-height: 35px;
    padding-top: 10px;
}
.navigation-link ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 19px;
    font-family: var(--font-body);
    transition: 0.3s;
}
.navigation-link ul li a:hover {
    cursor: pointer;
    color: var(--primary-color);
}
.navigation-display {
    margin-right: 100px;
}


/* javascript classes */

.item-position {
    bottom: 0;
    top: 0;
}
#hidden {
    display: none;
}



.landing-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 430px;
    padding: 0 30px;
    padding-bottom: 50px;
}
.heading-text-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.heading-text {
    width: 700px;
}
.heading {
    text-transform: uppercase;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--header-color);
}
.text {
    color: white;
    font-family: var(--font-heading);
    font-size: 25px;
    font-weight: 600;
}

.primary-btn {
    overflow: hidden;
    display: flex;
}
.primary-btn a {
    text-decoration: none;
    font-family: var(--font-heading);
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    padding: 20px 25px;
    white-space: nowrap;
    border: 3px solid var(--background-color);
}
.primary-btn a::before {
    content: '';
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    transform: translateX(-100%);
}
.primary-btn a:hover::before {
    transform: translateX(0);
}


.landing-end {
    background-color: var(--background-color);
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 0;
    color: white;
    font-weight: 700;
}


@media (max-width: 1030px) {
    .heading {
        font-size: 2rem;
    }
    .text {
        font-size: 20px;
    }
    .heading-text {
        width: 500px;
    }
}
@media (max-width: 990px) {
    .nav-bar-links {
        display: none;
    }
} 
@media (max-width: 830px) {
    .heading-text-btn {
        flex-direction: column;
    }
    .heading-text {
        margin-bottom: 50px;
        text-align: center;
    }
    .heading {
        font-size: 2.5rem;
    }
    .text {
        font-size: 25px;
    }
    .heading-text {
        width: 700px;
    }
}
@media (max-width: 750px) {
    .heading-text {
        margin-bottom: 50px;
        text-align: center;
    }
    .heading {
        font-size: 2rem;
    }
    .text {
        font-size: 20px;
    }
    .heading-text {
        width: 500px;
    }
    .primary-btn a {
        font-size: 15px;
    }
}
@media (max-width: 580px) {
    .nav-logo img {
        width: 150px;
    }
    .heading {
        font-size: 1.5rem;
    }
    .text {
        font-size: 16px;
    }
    .heading-text {
        width: 400px;
    }
}
@media (max-width: 440px) {
    .nav-logo img {
        width: 150px;
    }
    .heading {
        font-size: 1.5rem;
    }
    .text {
        font-size: 16px;
    }
    .heading-text {
        width: 100%;
    }
    .landing-heading {
        padding: 0 10px;
        padding-bottom: 20px;
        height: 330px;
    }
}
@media (max-width: 350px) {
    .landing-top-container {
        flex-direction: column;
    }
    .landing-top-logo {
        margin-bottom: 20px;
    }
}



.invited-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.invited-text-container {
    width: 500px;
    margin-right: 30px;
}
.invited-header {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 30px;
}
.invited-text {
    font-family: var(--font-heading);
    font-size: 23px;
    font-weight: 800;
    margin-top: 20px;
}

.secondary-btn {
    margin-top: 30px;
    overflow: hidden;
    display: flex;
}
.secondary-btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--font-body);
    font-weight: 600;
    position: relative;
    color: white;
    padding: 20px 25px;
    border: 3px solid var(--background-color);
}
.secondary-btn a:hover {
    cursor: pointer;
    color: var(--background-color);
}
.secondary-btn a::before {
    content: '';
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}
.secondary-btn a:hover::before {
    transform: translateY(-100%);
    opacity: 1;
}

.safe-container {
    width: 500px;
    margin-left: 30px;
}

.safe-header {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.link-content {
    display: none;
}
.horizontal-stragth-line {
    border-top: 1px solid;
    margin-top: 20px;
}
.path {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.path .up {
    display: none;
}

.path:hover {
    cursor: pointer;
}
.path:hover .down {
    display: none;
}
.path:hover .up {
    display: inline-block;
}
.link:hover .link-content {
    display: inline-block;
}

.path i {
    font-size: 40px;
    font-weight: 50;
    margin-right: 30px;
}

.link-content {
    padding-left: 30px;
}
.content-header {
    font-family: var(--font-body);
    font-weight: 700;
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 30px;
}
.content-sub-header {
    font-size: 18px;
    font-family: var(--font-body);
    margin-top: 30px;
    font-weight: 700;
}
.content-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    line-height: 30px;
}
.content-text.ed {
    margin-top: 10px;
}
.content-text a {
    color: var(--background-color);
    transition-delay: 0.5s;
    font-weight: 500;
}
.content-text a:hover {
    cursor: pointer;
    color: black;
}


@media (max-width: 1050px) {
    .invited-text-container {
        width: 400px;
    }
    .invited-header {
        font-size: 3rem;
    }
    .invited-text {
        font-size: 20px;
    }
    .secondary-btn a {
        font-size: 17px;
    }

    .safe-container {
        width: 400px;
    }
    .safe-header {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .invited-text-container {
        margin-right: 15px;
    }
    .safe-container {
        margin-left: 15px;
    }
}
@media (max-width: 880px) {
    .invited-container {
        flex-direction: column;
        align-items: center;
    }
    .safe-container {
        width: 500px;
        margin-top: 50px;
        margin-left: 0;
    }
    .invited-text-container {
        width: 500px;
        margin-right: 0;
    }

    .invited-header {
        font-size: 4rem;
    }
    .invited-text {
        font-size: 23px;
    }
    .secondary-btn a {
        font-size: 20px;
    }
    .safe-header {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .invited-header {
        font-size: 3rem;
    }
    .invited-text {
        font-size: 20px;
    }
    .secondary-btn a {
        font-size: 17px;
    }
    .safe-header {
        font-size: 20px;
    }
}
@media (max-width: 555px) {
    .invited-header {
        font-size: 2rem;
    }
}
@media (max-width: 535px) {
    .safe-container {
        width: 100%;
        padding: 0 20px;
    }
    .invited-text-container {
        width: 100%;
        padding: 0 20px;
    }
}



.sunday-worship-container {
    display: flex;
    margin-top: 200px;
}
.worship-header {
    font-size: 25px;
    text-transform: uppercase;
    font-family: var(--font-heading);
    color: var(--hover-color);
    font-weight: 700;
}
.worship-info-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.sunday-header {
    font-size: 30px;
    font-family: var(--font-header);
    font-weight: 700;
    color: var(--hover-color);
    margin: 20px 0;
}
.expland-header {
    text-transform: capitalize;
    color: #504f50;
    font-size: 20px;
    font-family: var(--font-body);
    font-weight: 600;
}
.expland-text {
    font-size: 20px;
    font-family: var(--font-body);
    margin-top: 10px;
}

.text-expland.ed {
    margin-top: 30px;
}


@media (max-width: 990px) {
    .sunday-worship-container {
        flex-direction: column;
        align-items: center;
    }
    .worship-info-container {
        width: 100%;
        /* margin-bottom: 20px; */
        padding: 20px 10px;
    }
    .sunday-header {
        text-align: center;
    }
    .worship-header {
        text-align: center;
    }
}
@media (max-width: 456px) {
    .brother-jabel img {
        width: 100%;
    }
}



.text-slide-container {
    font-size: 4rem;
    margin-top: 200px;
    overflow: hidden;
    font-family: roboto,sans-serif;
    font-weight: 700;
    background-image: url('/images/logos/back-dot.png');
}

.text-slide-container span {
    -webkit-text-stroke: 2px var(--navigation-color);
    color: transparent;
}
.text-slide-container p {
    white-space: nowrap;
    margin: 0;
    padding: 50px 0;
    animation: move_text 6s ease-in infinite;
}

@keyframes move-text {
    0% {
      margin-left: -100%;
    }
    100% {
      margin-left: 0;
    }
  }



  .change-back {
    height: 300px;
    margin-top: 100px;
    background-image: url('/images/logos/dash-back.png');
  }
  .message-container {
    /* height: 60vh; */
    background-image: url('/images/site_images/message-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 50px;
    z-index: 1;
  }
  .message-container::after {
    content: '';
    background-color: #45a29dc9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .message-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .message-container {
    width: 500px;
    margin-right: 50px;
  }
  .message-container span {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--header-color);
    font-family: roboto-condensed,sans-serif;
  }
  .message-container p {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--font-header);
  }
  
  .main-message-link a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 30px;
    font-family: var(--font-header);
    font-weight: 700;
    color: var(--hover-color);
    transition: 0.5s;
  }
  .main-message-link a:hover {
    cursor: pointer;
    color: var(--header-color);
  }
  .main-message-link a i {
    margin-left: 200px;
  }

  .horizontal-dash-line {
    border-bottom: 3px dashed;
    margin-top: 20px;
  }
  .message-link.ed {
    margin: 50px 0;
  }

@media (max-width: 960px) {
    .message-container {
        width: 400px;
    }
    .message-container span {
        font-size: 25px;
    }
    .message-container p {
        font-size: 2rem;
    }
}

@media (max-width: 830px) {
    .message-text-container {
        flex-direction: column;
    }
    .message-container {
        width: 600px;
        margin-bottom: 50px;
        margin-right: 0;
    }
    .message-container span {
        font-size: 30px;
    }
    .message-container p {
        font-size: 3rem;
    }
    .text-slide-container {
        font-size: 3rem;
    }
}
@media (max-width: 680px) {
    .message-text-container {
        flex-direction: column;
    }
    .message-container {
        width: 500px;
        margin-bottom: 50px;
        margin-right: 0;
    }
    .message-container span {
        font-size: 25px;
    }
    .message-container p {
        font-size: 2.5rem;
    }
    .main-message-link a {
        font-size: 27px;
    }
}
@media (max-width: 502px) {
    .message-container {
        width: 100%;
        padding: 50px;
    }
    .message-container {
        line-height: 50px;
    }
    .message-fix {
        padding: 0 20px;
    }
}
@media (max-width: 380px) {
    .main-message-link a i {
        margin-left: 100px;
    }
}


.shot-cut-container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 100px;
    margin-top: 200px;
}
.shor-cut-header {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--font-heading);
    font-weight: 800;
    color: var(--hover-color);
    margin-bottom: 30px;
}
.shot-cut-content {
    display: flex;
}
.main-shot-cut {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    justify-content: space-between;
}
.secondary-btn.ed {
    margin-top: 50px;
}
.secondary-btn.ed a {
    padding: 15px 70px;
    font-size: 15px;
    text-align: center;
}

.together-container {
    width: 600px;
    margin-top: 100px;
}
.together-header {
    text-transform: uppercase;
    color: var(--hover-color);
    font-family: var(--font-header);
    font-size: 28px;
}
.togrhther-text {
    font-family: var(--font-body);
    font-size: 20px;
    color: #4f4c4d;
    margin-top: 30px;
}
.togrhther-text a {
    color: #4f4c4d;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 3px solid var(--background-color);
}
.togrhther-text a:hover {
    cursor: pointer;
    color: var(--background-color);
}

.primary-btn.pbed {
    margin-top: 50px;
}
.primary-btn.pbed a {
    color: #4f4c4d;
    padding: 13px 20px;
}
.primary-btn.pbed a:hover {
    color: white;
}

.prayer {
    display: flex;
    justify-content: center;
}
.need-prayer {
    margin-top: 150px;
}
.need-prayer a {
    border: 5px solid #4f4c4d;
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--font-body);
    color: var(--hover-color);
    font-weight: 800;
    text-decoration: none;
    padding: 3rem 5rem;
    transition: 0.4s;
    white-space: nowrap;
}
.need-prayer a span {
    -webkit-text-stroke: 3px #4f4c4d;
    color: transparent;
}

.need-prayer a:hover {
    background-color: #4f4c4d;
    color: white;
}
.need-prayer a:hover span {
    -webkit-text-stroke: 2px white;
}

.social img {
    width: 120px;
}



@media (max-width: 1050px) {
    .social img {
        width: 100px;
    }
    .shot-cut-container {
        margin-left: 50px;
    }
}
@media (max-width: 950px) {
    .shot-cut-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-shot-cut {
        margin-top: 50px;
        align-items: center;
        padding-top: 10px;
        box-shadow: 1px 1px 2px 1px;
    }
}
@media (max-width: 700px) {
    .shor-cut-header {
        font-size: 1.5rem;
        text-align: center;
    }
    .together-header {
        font-size: 24px;
        text-align: center;
    }
}
@media (max-width: 690px) {
    .together-container {
        width: 500px;
    }
}
@media (max-width: 600px) {
    .shot-cut-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 550px) {
    .together-container {
        width: 100%;
    }
}


@media (max-width: 1030px) {
    .need-prayer a {
        padding: 2rem 4rem;
    }
}
@media (max-width: 1000px) {
    .need-prayer a {
        font-size: 35px;
    }
}
@media (max-width: 900px) {
    .need-prayer a {
        font-size: 30px;
    }
}
@media (max-width: 790px) {
    .need-prayer a {
        font-size: 25px;
    }
}
@media (max-width: 690px) {
    .need-prayer a {
        font-size: 20px;
    }
}
@media (max-width: 570px) {
    .need-prayer a {
        padding: 1.5rem 2.5rem;
    }
}
@media (max-width: 530px) {
    .need-prayer a {
        padding: 1rem 2rem;
    }
}
@media (max-width: 500px) {
    .need-prayer a {
        padding: 1rem 2rem;
        font-size: 15px;
    }
}




.kid-student-container {
    margin-top: 150px;
    padding-left: 50px;
    background-image: url('/images/logos/back-dot.png');
    padding-top: 100px;
    padding-bottom: 50px;
}
.student-info a {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.student-info:hover {
    z-index: 10;
}
.student-info.ed {
    position: relative;
    left: -50px;
    top: -50px;
}
.kid-student-container {
    display: flex;
    justify-content: center;
}
.main-student-imfo {
    position: relative;
    z-index: 1;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/site_images/message-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-student-imfo.change-image {
    background-image: url('/images/site_images/kid.jpg');
}

.main-student-imfo::after {
    content: '';
    background-color: #45a29dc5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main-student-imfo.change-image::after {
    background-color: #70bd52b7;
} 
.main-student-imfo.change-image:hover::after {
    background-color: #70bd5263;
} 

.main-student-imfo:hover::after {
    background-color: #45a29d4d;
}
.another-back {
    background-image: url('/images/logos/dash-back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1000px) {
    .main-student-imfo {
        width: 450px;
        height: 350px;
    }
    .student-info a {
        font-size: 2rem;
    }
}
@media (max-width: 890px) {
    .main-student-imfo {
        width: 400px;
        height: 300px;
    }
    .student-info a {
        font-size: 1.5rem;
    }
}
/* @media (max-width: 830px) {
    .kid-student-container {
        margin-top: 700px;
    }
} */
@media (max-width: 785px) {
    .main-student-imfo {
        width: 350px;
        height: 250px;
    }
    .student-info a {
        font-size: 1.3rem;
    }
}
@media (max-width: 685px) {
    .main-student-imfo {
        width: 300px;
        height: 200px;
    }
    /* .kid-student-container {
        margin-top: 600px;
    } */
}
@media (max-width: 580px) {
    .main-student-imfo {
        width: 250px;
        height: 150px;
    }
    .student-info a {
        font-size: 1.1rem;
    }
}
@media (max-width: 480px) {
    .main-student-imfo {
        width: 200px;
        height: 130px;
    }
    .student-info a {
        font-size: 1rem;
    }
}
/* @media (max-width: 325px) {
    .kid-student-container {
        margin-top: 700px;
    }
} */